//Fonts
@font-face {
  font-family: 'sfpro-font'; 
  src: url('../assets/fonts/SFProDisplay-Semibold.ttf') format('truetype');
}

// styles.scss
$primary-color: #4c5968;
$secondary-color: #aeb8c4;
$bg-color: #f3f6f9;
$third-color:#ee225d;
body {
  background-color: #f5f7fa;
  font-family: 'sfpro-font', sans-serif;
display: block;
}
.main {
  display: block;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  .header {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    .menu {
      position: absolute;
      top: 70px;
      right: 15px;
      width: 200px;
      background-color: #eaeaea;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 99;
      border-radius: 15px;
      .menu-item {
        display: flex;
        color: $primary-color;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover {
          color: $third-color;
        }
      }
    }
    .menu-text {
      flex-grow: 1;
      text-align: left;
    }
    .menu-icon-item {
      margin-left: 10px;
      font-size: 18px;
    }
    hr {
      margin: 0px 0px 0px 15px;
      border: none;
      border-top: 1px solid $secondary-color;
    }
    .arrow-icon, .menu-icon{
      color: $secondary-color;
      font-size: 28px;
      cursor: pointer;
    }
    .menu-icon{
      transition: transform 0.3s;
      &.rotate {
        transform: rotateZ(90deg);
        margin-right: 5px;
        color: #fff;
        z-index: 99;
      }
    }
      background-color: #fff;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: visible;
      .col{
        flex: 1;
        padding: 10px;
        display: flex;
      }
      .col:nth-child(2) {
        flex: 9;
      }
      .left{
        justify-content: start;
      }
      .right{
        justify-content: end;
      }
      .middle{
        justify-content: center;
      }
      .title {
        font-size: 34.667px;
        color: $primary-color;
      }
      .header-icon {
        color: $secondary-color;
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 98;
    }
  }

  // Content Styles
  .container{
   
    overflow: visible;
    .crypto.content.expanded {
      height: 400px; /* Expanded height */
    }
    .crypto.content{
      height: 210px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: height 0.3s ease;
    }
    .content{
      padding: 20px;
      background: #fff;
      margin: 25px 25px 10px 25px;
      border-radius: 15px;
      box-shadow: 0 10px 38px 4px #9a9baf33;
      .row-intro{
        width: 100%;
        display: flex;
        align-items: center;
        .col{
          flex: 1;
          padding: 10px;
          display: flex;
          align-items: center;
        }
        .lt-crypto.col{
          justify-content: start;
          .crypto-icon{
            padding: 10px 16px;
            font-size: 28px;
            color: #fff;
            border-radius: 50%;
            background: linear-gradient(180deg, #ffc843 0%, #ff8f17 100%);
          }
          .crypto-name{
            margin-left: 25px;
            span{
              color:$primary-color;
              font-size: 17.12px;
            }
          }
        }
        .rt-crypto.col{
          justify-content: end;
          span{
            color:$secondary-color;
            font-size: 17.12px;
          }
        }
      }
      .row-amount{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 5px;
        .crypto-amount{
          font-size: 40px;
          color: $primary-color;
          margin: 2px 0px 0px 8.5px;
        }
      }
      .row-prc{
        display: flex;
        .lt-crypto-prc{
          width: 100%;
          font-size: 24px;
          text-align: left;
          color: $secondary-color;
          margin: 0px 8.5px;
        }
        .rt-crypto-prc{
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .crypto-percent{
            font-size: 17.68px;
            color: #fff;
            background-color: $third-color;
            border-radius: 51.5px;
            padding: 6px 15px;
            margin: 0px 10px 0px 0px;
          }
        }
      }
      .row-footer{
        display: flex;
        text-align: center;
        justify-content: center;
        .img-dw-icon{
          max-width: 34px;
        }
        .img-dw-icon-collapse{
          max-width: 34px;
          transform: rotateZ(180deg);
          transition: all ease-in-out 0.3s;
        }
        .btn-down {
          cursor: pointer;
          display: inline-block;
          align-self: flex-end;
          margin-top: 10px;
          padding: 10px;
        }

      }
    }
  }

  // Filter SASS
  .container{
    .filter-section{
      padding-top: 10px;
      .filter-container{
        display: flex;
        .filter-option{
          width: 100%;
          text-align:center;
          span{
            transition: all 0.3s;
            font-size: 16px;
            color: $secondary-color;
            border-radius: 51px;
            padding: 6px 13px;
          }
        }
        .filter-option 
        span:hover{
          color: #fff;
          background-color: $secondary-color;
          cursor: pointer;
        }
      }
    }
    .filter.content{
      margin-top: 20px;
      margin-bottom: 15px;
      .row-intro{
        .lr-prc-sec, .hr-prc-sec{
          color: $secondary-color;
          font-size: 16px;
          position: relative;
          ::before {
            content: "";
            width: 9px;
            height: 9px;
            border-radius: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-49%);
          }
        }
        .lr-prc-sec{
          justify-content: flex-start;
          .lr-prc{
            margin: 0px 0px 0px 20px;
            position: relative;
          }
          ::before {
            background: #ef2755;
            left: -20px;
          }
        }
        .hr-prc-sec{
          justify-content: flex-end;
          .hr-prc{
            position: relative;
            margin: 0px;
          }
          ::before {
            background: #1ec070;
            left: -20px;
          }
        }
      }
      .row-scale{
        ::before {
          content: "";
          box-shadow: 0px 0px 0px 3px rgba(255, 193, 61, 0.26);
          background: linear-gradient(330deg, #ffc843 0%, #ff8f17 100%);
          background-repeat: no-repeat;
          background-size: contain;
          width: 9px;
          height: 9px;
          border-radius: 50px;
          position: absolute;
          left: -10px;
          top: 44%;
          transform: translateY(-49%);
        }
        .scale-prc{
          letter-spacing: -0.45px;
          margin: 0px 0px 0px 20px;
          padding: 0px 0px 5px 15px;
          font-size: 17.12px;
          color:$primary-color;
          position: relative;
        }
      }
    }

    // Transaction Styles
    .trans-container{
      display: flex;
      margin: 0px 10px 15px 10px;
      .trans-col{
        justify-content: center;
        display: flex;
        flex: 1 1;
        margin: 15px;
        flex-flow: wrap;
        .dollar-icon{
          padding: 10px 17px;
          margin: 10px 0px;
          font-size: 24px;
          color: #fff;
          border-radius: 50%;
          background: linear-gradient(0deg, #1d72f1 0%, #17c8fc 100%);
        }
        span{
          font-size: 17.12px;
          padding-top: 4px;
          color: $primary-color;
          width: 100%;
          text-align: center;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .trans-col.buy{
        .dollar-icon{
          background: linear-gradient(0deg, #1d72f1 0%, #17c8fc 100%);
        }
      }
      .trans-col.sell{
        .dollar-icon{
          background: linear-gradient(180deg, #ff677c 0%, #fb23a2 100%);
        }
      }
    }
    .row-chart{
      margin-left: -25px;
      margin-right: 25px;
      .recharts-responsive-container{
        .recharts-surface{
          overflow: visible;
        }
      }
      .recharts-wrapper{
        max-height: 100px;
      }
      .chart-container{
        max-height: 100px;
      }
      .recharts-layer{
        .recharts-layer circle:last-child {
          stroke-width: 9px;
          stroke: #ffa42742;
          width: 10px !important;
          r: 9px;
        }
      }
    }
  }
}

